User Feedback/
User Feedback/*

Password Manager/
Password Manager/*

Daily Review/
Daily Review/*

Digital Forensics/
Digital Forensics/*

CTF-All-In-One/
CTF-All-In-One/*

*.zip
*.7z
*.mp4
*.mp3
*.avi

*.aux
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.sh
*.bat
.DS_Store
*.bbl
*.blg